<div class="d-flex flex-column min-vh-100">
    <shared-header></shared-header>
    <div class="container-fluid d-flex flex-grow-1 p-4">
        <div class="row row-cols-2 flex-grow-1 w-100 border border-black rounded-1 bg-body-secondary">
            <div class="col-3 p-0">
                <div class="w-100 h-100 d-flex flex-column">
                    <div class="p-2 text-center border-bottom border-black">
                        <h3 class="d-none d-md-block display-6 fw-bolder">Messages</h3>
                        <h3 class="bi bi-envelope-fill display-6 d-block d-md-none"></h3>
                    </div>
                    <div class="flex-grow-1 overflow-auto overflow-x-hidden hide-scrollbar" style="height: 70vh;">
                        <chat-user-list *ngFor="let chat of chats" [chat]="chat" (selectChat)="onSelectChat($event)"
                            [id_chat]="chatSelected?.id ?? null"></chat-user-list>
                    </div>
                </div>
            </div>
            <div class="col-9 p-0 border-1 border-start border-black">
                <div class="w-100 h-100 p-4 d-flex flex-column justify-content-center align-items-center text-center"
                    *ngIf="chatSelected?.id == null || loading">
                    <i class="bi bi-chat-left-text display-1 text-primary"></i>
                    <h3 class="display-4 mt-3">No chat selected</h3>
                    <p class="text-muted">Select a conversation from the list to start chatting.</p>
                </div>
                <!-- Chat messages -->
                <div class="w-100 h-100 d-flex flex-column overflow-auto overflow-x-hidden hide-scrollbar scroll-container"
                    style="height: 60vh;" *ngIf="chatSelected?.id != null && !loading">
                    <div class="d-flex align-items-center border-bottom p-3">
                        <img [src]="chatSelected?.imageUrl" alt="Avatar" class="rounded-circle me-3"
                            style="width: 50px; height: 50px;">
                        <h3 class="h5 m-0">{{ chatSelected?.name }}</h3>
                    </div>

                    <div #messageContainer class="flex-grow-1 overflow-auto p-3 d-flex flex-column" style="height: 60vh;">
                        <div *ngFor="let message of messages" class="d-flex mb-2" [ngClass]="{ 
                                'justify-content-end': message.sender == user.id, 
                                'justify-content-start': message.sender != user.id 
                            }">

                            <div *ngIf="message.sender == user.id" class="card py-2 px-3 shadow-sm"
                                [ngClass]="{ 'bg-primary text-white': message.sender == user.id, 'bg-light': message.sender != user.id }"
                                style="max-width: 70%;" [id]="message.timestamp">
                                <p class="m-0">{{ message.content }}</p>
                                <small class="text-end">
                                    <i *ngIf="message.read" class="bi bi-eye-fill"></i>
                                    <i *ngIf="!message.read" class="bi bi-eye-slash-fill"></i>
                                    {{message.timestamp | date:'HH:mm'}}</small>
                            </div>
                            <div #observedElement *ngIf="message.sender != user.id" class="card py-2 px-3 shadow-sm"
                                [ngClass]="{ 'bg-primary text-white': message.sender == user.id, 'bg-light': message.sender != user.id }"
                                style="max-width: 70%;" [id]="message.timestamp">
                                <p class="m-0">{{ message.content }}</p>
                                <small class="text-end">
                                    {{message.timestamp | date:'HH:mm'}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column p-3">
                        <div class="d-flex">
                            <input type="text" class="form-control me-2" [(ngModel)]="messageContent" rows="1"
                                placeholder="Escribe tu mensaje..." (keypress)="handleKeyPress($event)" [ngClass]="{'is-invalid': maxCharacters - messageContent.length < 0}" />
                            <button class="btn btn-primary" (click)="sendMessage()">Enviar</button>
                        </div>
                        <p [ngClass]="{'text-danger': maxCharacters - messageContent.length < 0}">{{maxCharacters - messageContent.length}} characters remaining
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <shared-footer class="bg-light text-center mt-auto"></shared-footer>
</div>