<div class="d-flex flex-column min-vh-100">
    <shared-header></shared-header>
    <div class="container-fluid d-flex flex-grow-1 p-4">
        <div class="row row-cols-2 flex-grow-1 w-100 border border-black rounded-1 bg-body-secondary">
            <div class="col-3 p-0">
                <div class="w-100 h-100 d-flex flex-column">
                    <div class="p-2 text-center border-bottom border-black">
                        <h3 class="d-none d-md-block display-6 fw-bolder">Messages</h3>
                        <h3 class="bi bi-envelope-fill display-6 d-block d-md-none"></h3>
                    </div>
                    <div class="flex-grow-1 overflow-auto overflow-x-hidden hide-scrollbar" style="height: 70vh;">
                        <chat-user-list *ngFor="let chat of chats" [chat]="chat" (selectChat)="onSelectChat($event)"
                            [id_chat]="id_chat"></chat-user-list>
                    </div>
                </div>
            </div>
            <div class="col-9 p-0 border-1 border-start border-black">
                <div class="w-100 h-100 p-4 d-flex flex-column justify-content-center align-items-center text-center"
                    *ngIf="id_chat == null">
                    <i class="bi bi-chat-left-text display-1 text-primary"></i>
                    <h3 class="display-4 mt-3">No chat selected</h3>
                    <p class="text-muted">Select a conversation from the list to start chatting.</p>
                </div>
                <div class="w-100 h-100  overflow-auto overflow-x-hidden hide-scrollbar" style="height: 70vh;"
                    *ngIf="id_chat != null">
                    <h3 class="display-4 mt-3">Chat selected</h3>
                    <div *ngFor="let message of messages" class="message">
                        <p><strong>{{ message.sender == user.id  ? user.name : receiver }}:</strong> {{ message.content }}</p>
                        <small>{{ message.timestamp | date: 'short' }}</small>
                    </div>
                    <div class="message-input">
                        <textarea [(ngModel)]="messageContent" placeholder="Escribe tu mensaje..."></textarea>
                        <button (click)="sendMessage()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <shared-footer class="bg-light text-center mt-auto"></shared-footer>
</div>