<div class="d-flex justify-content-center justify-content-md-start p-3 gap-md-3 align-items-md-center overflow-hidden mw-100 user-select-none border-bottom border-black contact"
    (click)="onSelectChat()" style="cursor: pointer;" [class.selected]="chat.id == id_chat">
    <div class="position-relative">
        <img [src]="chat.imageUrl" [alt]="'Image ' + chat.name"
            class="rounded-circle border border-black object-fit-cover" style="width: 50px; height: 50px;">
        <!-- Badge para mensajes no leídos -->
        <span *ngIf="chat.unreadCount && chat.unreadCount > 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ chat.unreadCount > 9 ? '+9' : chat.unreadCount }}
        </span>
    </div>
    <div class="d-none d-md-block text-truncate w-75">
        <p class="fs-5 fw-medium text-truncate m-0">{{ chat.name }}</p>
        <p class="text-truncate m-0 text-dark-emphasis">{{ chat.lastMessage }}</p>
    </div>
</div>